<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products at home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<h1 class="text-center my-4">All products at home page:</h1>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <!-- Product Loop -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div th:each="product : ${productsPage.content}" class="col">
                <div class="card shadow-sm">
                    <!-- Replace with product image if available -->
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text"><strong>Name:</strong> <span th:text="${product.productName}"></span></p>
                        <p class="card-text"><strong>Description:</strong> <span
                                th:text="${product.description}"></span></p>
                        <p class="card-text"><strong>Price:</strong> <span th:text="${product.price}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product Loop -->
    </div>
</div>
<!-- Pagination controls -->
<div class="pagination">
    <a th:href="@{/allProducts(page=${productsPage.number - 1}, size=${productsPage.size})}"
       th:if="${productsPage.hasPrevious()}">Previous</a>
    <span>Page [[${productsPage.number + 1}]] of [[${productsPage.totalPages}]]</span>
    <a th:href="@{/allProducts(page=${productsPage.number + 1}, size=${productsPage.size})}"
       th:if="${productsPage.hasNext()}">Next</a>
</div>

<div class="text-center">
    <a th:href="@{/home}" class="btn btn-primary mt-3">Back to Home Page</a>
</div>

</body>
</html>
